

/* Index style */


    .main{
        display: flex;
        gap: 200px;
    }
    .text h1{
        font-weight: lighter;
        line-height: 70px;
        letter-spacing: 2px;
        font-size: 50px;
    }
    .font{
        color: rgb(66, 192, 192);
    }
    .para{
        font-weight: bold;
    }
    .text p{
        color: gray;
        word-spacing: 4px;
        line-height: 25px;
    }
    .emg{
        margin-top: -50px;    
    }
    .btn {
        display: inline-flex;    
        align-items: center;         
        gap: 8px;                    
        padding: 10px 16px;
        background-color: #1bb4a2;   
        color: white;
        border: none;
        border-radius: 6px;
        font-weight: 600;
        cursor: pointer;
    
    }
    .btn:hover{
        background-color: #023939;
    }

/* Aboutpage style */

   
    .card{
        width: 300px;
        height: 200px;
        box-shadow: 10px 10px 10px 10px rgb(169, 195, 195) ;
        padding: 50px;
        background-color: rgb(114, 159, 159);
    
    }
    .main{
        display: flex;
        padding: 80px;
        gap: 250PX;

    }
    h1{
        text-align:center;
        font-size: 40px;
    }
    .font{
        color: rgb(66, 192, 192);
    }

    /* training page style*/

        .page{
       
        margin-left: 50px;
        font-family:Arial, Helvetica, sans-serif;
    }
    .navbar{
        display:flex;
        align-items:center;
        justify-content:space-between;
        gap:24px;
        margin-bottom:28px;
    }
    .nav-links{
        display:flex;
        gap:50px;
        align-items:center;
        padding-right: 50px;
        cursor: pointer;
    }
    .nav-links a{
        color:gray;
        text-decoration:none;
        font-size:20px}
    .nav-links a.active{
        font-weight:600;
        color: black;
    }
    .nav-links a:hover{
        color: rgb(66, 192, 192);
    }
    .image img{
        width: 300px;
        height: 300px;
        padding: 40px;
        margin-left: 80px;
        margin-top: 20px;
        box-shadow: 10px 10px 10px 10px;
        
    }
    .font{
        color: rgb(66, 192, 192);
    }
    h1{
        font-size: 50px;
        text-align: center;
    }
    
